DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=64.23.234.101,retracemx.softwaresci.org,apiretracemx.softwaresci.org
DJANGO_CSRF_TRUSTED_ORIGINS=https://retracemx.softwaresci.org,https://apiretracemx.softwaresci.org
DJANGO_CORS_ALLOWED_ORIGINS=https://retracemx.softwaresci.org,https://apiretracemx.softwaresci.org
DJANGO_CSRF_COOKIE_SECURE=1
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_TIME_ZONE=America/Mexico_City
DJANGO_DEFAULT_FROM_EMAIL=acopio360@softwaresci.org
DATABASE_URL=postgres://acopio360:change-me@db:5432/acopio360
FRONTEND_URL=https://retracemx.softwaresci.org/
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@softwaresci.org
DJANGO_SUPERUSER_PASSWORD=ChangeMeNow123!
GPS_INGEST_API_KEY=change-me-if-needed
